:root {
  --ascent-color: #17a2b8;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.custom-height {
  height: calc(100vh - 56px);
}

.custom-active {
  color: #fff;
  padding: 10px 15px;
  border-radius: 8px;
  background-color: var(--ascent-color);
}

.intaractions-icons {
  font-size: 1.5rem;
}

.intaractions-icons span {
  cursor: pointer;
  margin-right: 10px;
}
